@import "../../../styles/global.scss";


.custom-select {

  @include themify($themes) {
    &__label {
      display: block;
      color: themed('text-color');
      margin-bottom: var(--micro-paragraph);
      font-size: var(--medium-paragraph);
      font-weight: var(--medium-font);
    }


    &__error {
      text-transform: capitalize;
      font-size: 0.75rem;
      color: #f6374e;

      &-hidden {
        display: none;
      }
    }

    .css-1u9des2-indicatorSeparator {
      display: none !important;
    }

    .css-b62m3t-container {
      border: none;

      &:focus-visible {
        border: none;
      }
    }

    .css-13cymwt-control,
    .css-t3ipsp-control {
      position: relative;
      width: 100%;
      box-sizing: border-box;
      background-color: #FFFFFF;
      border: 1px solid #DDDDDD;
      border-radius: var(--pill-shaped-radius);
      box-shadow: none;
      outline: none;
      padding: 10px 3px;
      font-weight: 300;
      cursor: pointer;
      font-size: 1rem;


    }

    .css-1jqq78o-placeholder {
      color: #878787;
      margin: 0;
      font-size: .95em;
      font-weight: 400;
    }

    .css-13cymwt-control:hover,
    .css-t3ipsp-control:hover {
      box-shadow: none;
    }

    .css-1xc3v61-indicatorContainer {
      transition: all 200ms ease-in-out;
      color: #878787;
    }

  }

}