@import "../../../styles/global.scss";


// Account Settings
.create_product {
    @include themify($themes) {
        padding-bottom: 5em;

        &_container {
            display: flex;
            flex-direction: column;
            margin-top: 1rem;
            margin-bottom: 0.8rem;
            gap: 1rem;

            @include large-screen {
                flex-direction: row;
                justify-content: space-between;
            }
        }

        &_form {
            flex-basis: 50%;
            border: 1px solid #dddddd;
            border-radius: 10px;
            padding: 1.5rem;
            background-color: themed(light-text);

            .input {
                margin-top: 1em;
            }
        }


        &_left_form {

            .product_image {
                .product_image_label {
                    display: block;
                    margin-bottom: var(--micro-paragraph);
                    font-size: var(--medium-paragraph);
                    font-weight: var(--medium-font);
                }

                &_container {
                    display: flex;
                    align-items: center;
                    gap: 1em;
                    overflow-x: scroll;
                    width: 100%;
                }

                &_loader {
                    background: themed(primary);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    height: 100%;
                }

                &_box {
                    border-radius: 10px;
                    border: 1px solid #DDDDDD;
                    cursor: pointer;
                    transition: all 300ms ease-in-out;

                    &_img_container {
                        width: 150px;
                        height: 150px;
                        position: relative;

                        .delete_uploaded_image {
                            background-color: #f6374e;
                            color: white;
                            cursor: pointer;
                            padding: 10px;
                            border-radius: 50%;
                            position: absolute;
                            top: 5%;
                            right: 5%;
                            transition: all 200ms ease-in-out;
                            width: 0px;
                        }

                        .delete_uploaded_image:hover {
                            color: #f6374e;
                            background-color: white;
                            border: 1px solid #f6374e;
                        }

                        .image_overlay {
                            position: absolute;
                            top: 0;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            background: rgb(#000, 0%);
                            transition: all 200ms ease-in-out;
                            visibility: hidden;

                        }

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }


                        &:hover {
                            .delete_uploaded_image {
                                width: 40px;
                                height: 40px;
                            }

                            .image_overlay {
                                background: rgb(#000, 50%);
                                visibility: visible;
                            }
                        }


                    }
                }

                &_add {
                    &_container {
                        width: 150px;
                        height: 150px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }

                    input {
                        display: none;
                    }

                    img {
                        width: 30px;
                        height: 30px;
                        transition: all 300ms ease-in-out;
                    }

                    &:hover {
                        background: rgb(#000, 10%);

                        .product_image_add_img_container {
                            img {
                                width: 35px;
                                height: 35px;
                            }
                        }
                    }
                }

            }

            .side_inputs {
                display: flex;
                align-items: center;
                gap: 1em;
                margin-top: 1em;
                justify-content: space-between;

                &-item {
                    width: 50%;

                    &.weight {
                        display: flex;
                        align-items: end;
                        gap: 1em;
                        justify-content: space-between;

                        .custom-input,
                        .custom-select {
                            width: 45%;
                        }
                    }
                }


            }






        }

        &_right_form {
            .product_price_input {

                .custom-input__container {
                    display: flex;
                    border: 1px solid #DDDDDD;
                    border-radius: 10px;
                    transition: all 0.3s ease-in;

                    .custom-input__container__input {
                        border: none;
                    }

                    .custom-input_left_icon {
                        border-right: 1px solid #DDDDDD;
                        padding: 0 1em;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        transition: all 0.3s ease-in;

                        h1 {
                            font-weight: var(--medium-font);
                            font-size: var(--mini-heading1);

                        }
                    }

                    &:focus-within {
                        border-color: #1C1C1C;

                        .custom-input_left_icon {
                            border-color: #1C1C1C;
                        }

                    }
                }
            }

            .shared_purchase_checkbox {
                label {
                    font-weight: var(--medium-font);
                    font-size: var(--medium-paragraph);
                    color: #1C1C1C;
                }
            }


        }

        &_submit_button {
            margin-top: 2em;
        }




    }
}