@import "../../../styles/global.scss";

.product_home {
    @include themify($themes) {

        &_table_filter {
            border: 1px solid #DDDDDD;
            border-radius: 10px;
            padding: 1rem;
            width: 100%;
            background: white;
            margin-bottom: 1.5em;

            &_container {
                display: flex;
                justify-content: space-between;
                flex-direction: column;

                @include medium-screen {
                    align-items: center;
                    flex-direction: row;
                }
            }

            &_item {
                display: flex;
                gap: 1.5em;
                flex-direction: column;

                @include medium-screen {
                    align-items: center;
                    flex-direction: row;
                }
            }

            &_left {
                display: flex;
                align-items: center;
                gap: 1.5em;

                &_button {
                    font-size: var(--big-paragraph) !important;

                    &.inactive {
                        color: #878787 !important;
                    }
                }
            }
        }

        &_table_container {
            margin-top: 1em;
        }


    }
}