@import "../../styles/global.scss";

.custom-button {
  @include themify($themes) {
    outline: none;
    border: none;
    cursor: pointer;
    vertical-align: middle;
    text-align: center;
    position: relative;
    transition: all 300ms ease;
    border: 1px solid themed('primary');
    border-radius: var(--pill-shaped-radius);
    font-weight: var(--medium-font);
    padding: var(--mini-paragraph);
    font-size: var(--medium-paragraph);


    span {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1.5em;
    }

    &_full-width {
      width: 100%;
    }

    &:disabled {
      pointer-events: none;
    }

    // BUTTON PRIMARY
    &_contained {

      &:not(:disabled) {
        background-color: themed('primary');
        color: #ffffff;
      }

      &:hover {
        color: themed('primary');
        background: white;
        box-shadow: 8px 8px 20px rgba(55, 126, 63, 0.15);
      }

      &:disabled {
        background-color: rgb(#A9A9A9, 20%);
        color: rgb(#232D23, 50%);
        border: none;
      }
    }

    // BUTTON-OUTLINED
    &_outlined {
      background-color: #ffffff;
      color: themed('primary');

      &:hover {
        background-color: themed('primary');
        color: #ffffff;
      }
    }

    // BUTTON-TEXT
    &_text {
      border: none;
      background: transparent;
      color: themed('primary');
    }
  }
}