@import "../../../../styles/global.scss";

.kpi_balance_card {
    @include themify($themes) {
        width: 100%;
        height: 200px;
        border: 1px solid #DDDDDD;
        background: white;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;

        @include large-screen {
            width: 45%;
        }

        &_container {
            width: 90%;
            margin: 0 auto;

            .top {
                display: flex;
                align-items: center;
                justify-content: space-between;

                span {
                    letter-spacing: 2%;
                    font-weight: var(--very-light-font);
                    color: themed(text-color);
                    font-size: var(--small-paragraph);
                }

                .img_container {
                    background: #F9F9F9;
                    border-radius: 50%;
                    padding: .6rem;


                    img {
                        width: 20px;
                        height: 20px;
                        object-fit: cover;
                    }
                }
            }

            .bottom {
                display: flex;
                align-items: center;
                gap: 1em;
                cursor: pointer;

                h2 {
                    font-weight: var(--thick-font);
                    color: themed(text-color);
                    font-size: var(--small-heading1);
                }

                .img_container {
                    width: 25px;
                    height: 25px;
                    cursor: pointer;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }

        }
    }
}