.payment_table {
    &_status_button {
        padding: 15px;
        border-radius: 10px;
        margin: 0 auto;


        &_withdrawn {
            background: #FFF5F5;
            color: #870E14;
        }

        &_received {
            background: #F5FFF9;
            color: #0E8742;
        }


    }

    &_actions {
        cursor: pointer;
        font-size: 18px;
        color: #878787;
    }

}

.table_pagination {
    margin-top: 1.5em;
}