@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

:root {
    // Heading Fonts
    --large-heading1: 60px;
    --big-heading1: 50px;
    --medium-heading1: 45px;
    --small-heading1: 30px;
    --mini-heading1: 25px;

    // Paragraph Fonts
    --big-paragraph: 20px;
    --medium-paragraph: 18px;
    --normal-paragraph: 16px;
    --small-paragraph: 14px;
    --mini-paragraph: 12px;
    --micro-paragraph: 10px;
    --nano-paragraph: 8px;

    // Break Points
    --small-screen: 576px;
    --medium-screen: 768px;
    --large-screen: 992px;
    --extra-large-screen: 1200px;
}

// Color Palette
$themes: (
    light: (primary: #0E870E,
        dark-primary: #0b6a0b,
        secondary: #62cf3a,
        text-color: #000000,
        light-text: #959595,
    ),
    dark: (),
);


html {
    font-size: 16px;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

@mixin themify($themes) {

    @each $theme,
    $map in $themes {
        .theme-#{$theme} & {
            $theme-map: () !global;

            @each $key,
            $submap in $map {
                $value: map-get(map-get($themes, $theme), "#{$key}");
                $theme-map: map-merge($theme-map,
                    ($key: $value,
                    )) !global;
            }

            @content;
            $theme-map: null !global;
        }
    }
}

@function themed($key) {
    @return map-get($theme-map, $key);
}

