.dashboard_home {
    padding-bottom: 3rem;

    .flex {
        display: flex;
        gap: 1em;
    }


    &_top {
        @extend .flex;

        &_left {
            @extend .flex;
            flex-direction: column;
            width: 70%;
            gap: 2em !important;


            &_kpi_cards {
                @extend .flex;
                align-items: center;
                justify-content: space-between;
                flex-direction: column;

                @media screen and (min-width:768px) {
                    flex-direction: row;
                }
            }
        }

        &_right {
            width: 30%;
            display: flex;
            flex-direction: column;
            gap: 1em;
        }
    }

    &_bottom {
        margin-top: 1.5em;
    }
}