.modal {
  position: fixed;
  top: 0;
  left: 260px;
  right: 0;
  bottom: 0;
  z-index: 2;

  &-fullOverlay {
    left: 0px;
  }
}

.modal .modal-background {
  background-color: var(--modal-background);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  width: 100vw;
}

.modal .modal-card {
  position: absolute;
  top: 50%;
  left: 50%;
  max-height: 900px;
  padding: 20px;
  background-color: var(--white);
  border-radius: 10px;
  border: 1px solid var(--white);
  transform: translate(-50%, -50%) scale(0.7, 0.7);
  overflow-y: scroll;
  overflow-x: hidden;
  transition: all 200ms ease-in-out;
  border: 1px solid #000;
}

.modal .modal-card.show {
  transform: translate(-50%, -50%) scale(1, 1);
}

.modal .modal-card::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

.modal .modal-card::-webkit-scrollbar-thumb {
  background-color: #cccccc;
  border-radius: 20px;
}

@media (max-width: 60rem) {
  .modal {
    left: 0;
  }

  // .modal .modal-card {
  //   width: 80%;
  // }
}

@media (max-width: 23rem) {
  .modal .modal-card {
    padding: 20px 10px;
  }
}