@import "../../../styles/global.scss";


.custom-input {

  @include themify($themes) {
    &__label {
      display: block;
      color: themed('text-color');
      margin-bottom: var(--micro-paragraph);
      font-size: var(--medium-paragraph);
      font-weight: var(--medium-font);
    }

    textarea {
      font-family: inherit;
    }

    &__container {
      position: relative;

      &__input {
        display: block;
        padding: var(--small-paragraph);
        padding-right: 30px;
        width: 100%;
        outline: none;
        line-height: 120%;
        caret-color: themed('primary');
        background-color: white;
        font-size: var(--normal-paragraph);
        border: 1px solid themed('text-color');
        border-radius: var(--pill-shaped-radius);
        transition: all 0.3s ease-in;

        &:focus {
          border-color: #377e3f;
        }

        &::placeholder {
          color: rgb(#1c1c1c, 70%);
        }

        &-errored {
          border-color: #e48181;

          &:focus {
            border-color: #f6374e;
          }
        }
      }

      .right-icon {
        position: absolute;
        right: 30px;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    &__error {
      text-transform: capitalize;
      font-size: 0.75rem;
      color: #f6374e;

      &-hidden {
        display: none;
      }
    }
  }

}