@import "../../../styles/global.scss";


.auth {
  @include themify($themes) {

    &_logo {
      margin: 0 auto;
      width: 120px;
      cursor: pointer;

      img {
        width: 100%;
        height: 100%;

      }
    }


    &-title {
      font-weight: var(--thick-font);
      font-size: var(--big-paragraph);
      text-align: center;
      margin: 0 0 5px;
    }

    &-subtitle {
      font-weight: var(--medium-font);
      font-size: var(--small-paragraph);
      text-align: center;
      margin: 0;
    }

    &-top_text {
      font-weight: var(--very-light-font);
      font-size: var(--normal-paragraph);
      text-align: center;
      margin-block: 2rem;
      letter-spacing: .5px;
      display: flex;
      align-items: center;
      justify-content: center;

      button {
        font-size: var(--normal-paragraph);
      }
    }


    // AUTH FORM
    &-form {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      overflow-y: auto;
      width: 100%;
      align-items: center;

      .auth_forgot_password_and_remember_me {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1em;

        button {
          font-size: var(--normal-paragraph);
        }

        .remember_me_header{
          font-weight: var(--medium-font);
        }
      }
    }

    // AUTH FIELD
    &-field {
      width: 600px;
    }

    // OR LINE
    &-or {
      &_container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;
        margin: 1.5rem auto;
        width: 100%;
      }

      &_line {
        flex: 1 1 0%;
        height: 0.25rem;
        border-bottom: 1px solid themed('text-color');
      }

      &_text {
        line-height: 1;
        font-weight: var(--very-light-font);
        color: themed('text-color');
      }
    }

    &-google {
      display: flex;
      align-items: center;
      gap: .5em;
      justify-content: center;

      &_icon {
        width: 1.5rem;
        height: 1.5rem;
      }

      span {
        font-size: 1rem;
        font-weight: 500;
      }
    }

    &-footer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 1em;
      gap: 1em;


    }

    &-signup {
      font-size: 0.875rem;
      line-height: 1.25rem;
      margin-top: 1rem;

      &_popover {
        background: transparent !important;

        &_container {
          background: #fcfcfc;
          box-shadow: 10px 16px 40px rgba(0, 0, 0, 0.16);
          border-radius: 8px;
          width: 200px;
          font-size: 15px;
          display: flex;
          flex-direction: column;
          border: 1px solid #cccccc;


          button {
            outline: none;
            border: none;
            background: transparent;
            padding-block: 0.8rem;
            cursor: pointer;
            transition: all 150ms ease-in-out;



            &:first-child {
              border-bottom: 1px solid #585858;
            }
          }
        }
      }
    }

    &-link {
      font-weight: 700;
      font-style: italic;
      color: #000;
      font-size: .9rem;
      background-color: transparent;
      border: none;
      outline: none;
      text-decoration: none;
      cursor: pointer;
      margin: 0;
      padding: 0;
    }

  }
}

.more_options {
  background: transparent !important;
}

.auth_user_type {
  &-label {
    font-size: 18px;
    color: black;
  }
}

.auth_login_checkboxes {
  display: flex;
  align-items: center;
  gap: 1.5em;
}

.auth_login_checkboxes input {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  transition: all 300 ease-in-out;
}

.auth_login_checkboxes .custom-input {
  display: flex;
  align-items: center;
  gap: 1em;
  flex-direction: row-reverse;

  label {
    margin: 0;
  }

  input {
    margin: 0;
  }
}