.search_bar {
    max-width: 400px;
    margin-bottom: 2em;
  
    .custom-input__label {
      font-weight: 500;
    }
  
    .custom-input__container__input {
      width: 90%;
      border: 1px solid #e2e2e6;
      border-radius: 4px;
    }
  }
  