@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400&display=swap');

:root {
  --light-green: #00ff00;
  --green: #62cf3a;
  --dark-green: #00b400;
  --transparent-green: #62cf3a0d;
  --red: #be1e2d;
  --dark-red: #bb7a02;
  --white: #ffffff;
  --grey: #a0a0a0;
  --milk: #f2ece8;
  --black: #000000;
  --input-background: #f8f4ff;
  --modal-background: rgba(0, 0, 0, 0.2);
  --large-heading1: 60px;
  --big-heading1: 50px;
  --medium-heading1: 45px;
  --small-heading1: 30px;
  --mini-heading1: 25px;
  --big-paragraph: 20px;
  --medium-paragraph: 18px;
  --normal-paragraph: 16px;
  --small-paragraph: 14px;
  --mini-paragraph: 12px;
  --micro-paragraph: 10px;
  --nano-paragraph: 8px;
  --dashboard-background: #f9fbfb;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.css-13cymwt-control,
.css-t3ipsp-control {
  position: relative;
  // height: 60px !important;
  width: 100%;
  box-sizing: border-box;
  background-color: var(--white);
  border: none;
  border-radius: 0px;
  box-shadow: none;
  outline: none;
  margin-top: 8px;
  font-size: var(--small-paragraph);
  letter-spacing: 0.04em;
  border: 1px solid var(--modal-background);

}

.css-13cymwt-control:hover,
.css-t3ipsp-control:hover {
  background-color: var(--white);
  border: 1px solid var(--modal-background);
  box-shadow: none;
}

.css-13cymwt-control::after,
.css-t3ipsp-control::after {
  content: "S";
  position: absolute;
  color: transparent;
  right: 10px;
  height: 8px;
  width: 12px;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.css-1jqq78o-placeholder {
  font-size: var(--normal-paragraph);
  font-weight: 400;
  font-family: "DM Sans", sans-serif;
  letter-spacing: 0.001em;
}

.css-1fdsijx-ValueContainer,
.css-g1d714-ValueContainer {
  padding: 0;
}

.css-1hb7zxy-IndicatorsContainer,
.css-1wy0on6 {
  display: none;
}

.css-1jqq78o-placeholder {
  font-size: var(--small-paragraph);
}

.css-1nmdiq5-menu {
  font-size: var(--small-paragraph);
}
